services:
  evoapi:
    container_name: evoapi
    image: evoapicloud/evolution-api:v2.3.7
    restart: always
    volumes:
      - evolution_instances:/evolution/instances
    networks:
      - internal_network
    env_file:
      - .env

volumes:
  evolution_instances:
    driver: local

networks:
  internal_network:
    external: true
